In [2]:
import pandas as pd

chunker = pd.read_csv('train.csv',chunksize=1000)

Illegal line #1
	"{\rtf1\ansi\ansicpg936\cocoartf1671\cocoasubrtf200
"
	in file "/Users/ousei/.matplotlib/matplotlibrc"
Illegal line #2
	"{\fonttbl\f0\fnil\fcharset0 Menlo-Regular;}
"
	in file "/Users/ousei/.matplotlib/matplotlibrc"
Illegal line #3
	"{\colortbl;\red255\green255\blue255;\red0\green0\blue0;\red255\green255\blue255;}
"
	in file "/Users/ousei/.matplotlib/matplotlibrc"
Illegal line #4
	"{\*\expandedcolortbl;;\cssrgb\c0\c0\c0;\cssrgb\c100000\c100000\c100000;}
"
	in file "/Users/ousei/.matplotlib/matplotlibrc"
Illegal line #5
	"\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
"
	in file "/Users/ousei/.matplotlib/matplotlibrc"
Illegal line #6
	"\deftab720
"
	in file "/Users/ousei/.matplotlib/matplotlibrc"
Illegal line #7
	"\pard\pardeftab720\sl260\partightenfactor0
"
	in file "/Users/ousei/.matplotlib/matplotlibrc"
Illegal line #9
	"\f0\fs22 \cf2 \cb3 \expnd0\expndtw0\kerning0
"
	in file "/Users/ousei/.matplotlib/matplotlibrc"

Bad key "\outl0\strokewidth0 \strokec2 backend" on line 10 in
/Users/ousei/.matplotlib/matplotlibrc.
You probably need to get an updated matplotlibrc file from
http://github.com/matplotlib/matplotlib/blob/master/matplotlibrc.template
or from the matplotlib source distribution

【思考】什么是逐块读取？为什么要逐块读取呢？

使用pandas来处理文件的时候,经常会遇到大文件,而有时候我们只想要读取其中的一部分数据或对文件进行逐块处理

In [3]:
chunker = pd.read_csv('train.csv',chunksize=1000)

将表头改成中文，索引改为乘客ID

参数index_col指定索引

如果明确设定header=0 就会替换掉原来存在列名

In [4]:
df = pd.read_csv('train.csv', names=['乘客ID','是否幸存','仓位等级','姓名','性别','年龄','兄弟姐妹个数','父母子女个数','船票信息','票价','客舱','登船港口'],index_col='乘客ID',header=0)
df.head()

,是否幸存,仓位等级,姓名,性别,年龄,兄弟姐妹个数,父母子女个数,船票信息,票价,客舱,登船港口
乘客ID,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

将英文额度表头替换成中文。其他方法。

In [5]:
df = pd.read_csv('train.csv')
df.columns = ['乘客ID','是否幸存','仓位等级','姓名','性别','年龄','兄弟姐妹个数','父母子女个数','船票信息','票价','客舱','登船港口']
df.set_index('乘客ID')
df.head()

,乘客ID,是否幸存,仓位等级,姓名,性别,年龄,兄弟姐妹个数,父母子女个数,船票信息,票价,客舱,登船港口
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

查看表的一些基本信息

导入数据后，你可能要对数据的整体结构和样例进行概览，比如说，数据大小、有多少列，各列都是什么格式的，是否包含null等

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
乘客ID      891 non-null int64
是否幸存      891 non-null int64
仓位等级      891 non-null int64
姓名        891 non-null object
性别        891 non-null object
年龄        714 non-null float64
兄弟姐妹个数    891 non-null int64
父母子女个数    891 non-null int64
船票信息      891 non-null object
票价        891 non-null float64
客舱        204 non-null object
登船港口      889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
print(df.index) #查看索引
print(df.columns) #查看表头
print(df.shape) #查看行列数

RangeIndex(start=0, stop=891, step=1)
Index(['乘客ID', '是否幸存', '仓位等级', '姓名', '性别', '年龄', '兄弟姐妹个数', '父母子女个数', '船票信息',
       '票价', '客舱', '登船港口'],
      dtype='object')
(891, 12)

In [8]:
#查看是否存在缺失值的函数
df.isna().sum()

乘客ID        0
是否幸存        0
仓位等级        0
姓名          0
性别          0
年龄        177
兄弟姐妹个数      0
父母子女个数      0
船票信息        0
票价          0
客舱        687
登船港口        2
dtype: int64